body{
    background: lightblue url(https://media.suara.com/suara-partners/soreang/thumbs/653x367/2022/10/01/1-gunung-ciremai-terlihat-dari-ladang-penduduk-twitter-at-blankoncoklat.jpg) no-repeat top right;
}
h1 {
    font-family: 'Times New Roman','Times New Roman', Times, serif;
    color: darkblue;
}